interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.altmetric.com/explorer/api/research_outputs/mention_sources?page%5Bsize%5D=1&key=b5f9faabd368491692d4209087ffacae&digest=53534093d456666d5e3fcc8264a21b27acacf494
  response:
    body:
      string: '{"meta":{"query":{"key":"b5f9faabd368491692d4209087ffacae","digest":"53534093d456666d5e3fcc8264a21b27acacf494","page":{"number":1,"size":1}},"response":{"status":"ok","description":"All
        research outputs sorted by Altmetric Attention Score","total-results":12921780,"total-pages":12921780,"total-mentions":246720746}},"links":{"self":"https://www.altmetric.com/explorer/api/research_outputs/mention_sources?digest=53534093d456666d5e3fcc8264a21b27acacf494\u0026key=b5f9faabd368491692d4209087ffacae\u0026page%5Bnumber%5D=1\u0026page%5Bsize%5D=1","first":"https://www.altmetric.com/explorer/api/research_outputs/mention_sources?digest=53534093d456666d5e3fcc8264a21b27acacf494\u0026key=b5f9faabd368491692d4209087ffacae\u0026page%5Bnumber%5D=1\u0026page%5Bsize%5D=1","last":"https://www.altmetric.com/explorer/api/research_outputs/mention_sources?digest=53534093d456666d5e3fcc8264a21b27acacf494\u0026key=b5f9faabd368491692d4209087ffacae\u0026page%5Bnumber%5D=12921780\u0026page%5Bsize%5D=1","next":"https://www.altmetric.com/explorer/api/research_outputs/mention_sources?digest=53534093d456666d5e3fcc8264a21b27acacf494\u0026key=b5f9faabd368491692d4209087ffacae\u0026page%5Bnumber%5D=2\u0026page%5Bsize%5D=1"},"data":[{"id":"policy:who","type":"profile","attributes":{"profile-type":"policy","name":"World
        Health Organization","image":null},"relationships":{"country":{"data":{"id":"CH","type":"country"}}},"meta":{"mention-count":829325}}],"included":[{"id":"CH","type":"country","attributes":{"name":"Switzerland"}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b0dac52dc5d0ba424917abc7ce4e5877"
      X-Jobs:
      - https://www.altmetric.com/jobs
    status:
      code: 200
      message: OK
version: 1
