interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.altmetric.com/explorer/api/research_outputs?key=b5f9faabd368491692d4209087ffacae&digest=53534093d456666d5e3fcc8264a21b27acacf494
  response:
    body:
      string: "{\"meta\":{\"query\":{\"key\":\"b5f9faabd368491692d4209087ffacae\",\"digest\":\"53534093d456666d5e3fcc8264a21b27acacf494\",\"page\":{\"number\":1,\"size\":25}},\"response\":{\"status\":\"ok\",\"description\":\"All
        research outputs sorted by Altmetric Attention Score\",\"total-results\":48467237,\"total-pages\":1938690}},\"links\":{\"self\":\"https://www.altmetric.com/explorer/api/research_outputs?digest=53534093d456666d5e3fcc8264a21b27acacf494\\u0026key=b5f9faabd368491692d4209087ffacae\\u0026page%5Bnumber%5D=1\\u0026page%5Bsize%5D=25\",\"first\":\"https://www.altmetric.com/explorer/api/research_outputs?digest=53534093d456666d5e3fcc8264a21b27acacf494\\u0026key=b5f9faabd368491692d4209087ffacae\\u0026page%5Bnumber%5D=1\\u0026page%5Bsize%5D=25\",\"last\":\"https://www.altmetric.com/explorer/api/research_outputs?digest=53534093d456666d5e3fcc8264a21b27acacf494\\u0026key=b5f9faabd368491692d4209087ffacae\\u0026page%5Bnumber%5D=1938690\\u0026page%5Bsize%5D=25\",\"next\":\"https://www.altmetric.com/explorer/api/research_outputs?digest=53534093d456666d5e3fcc8264a21b27acacf494\\u0026key=b5f9faabd368491692d4209087ffacae\\u0026page%5Bnumber%5D=2\\u0026page%5Bsize%5D=25\"},\"data\":[{\"id\":77704842,\"type\":\"research-output\",\"attributes\":{\"title\":\"Report
        9: Impact of non-pharmaceutical interventions (NPIs) to reduce COVID19 mortality
        and healthcare demand\",\"identifiers\":{\"dois\":[\"10.25561/77482\"],\"handles\":[\"10044/1/77482\"]},\"readers\":{\"mendeley\":1958},\"dimensions\":{\"citations\":0},\"mentions\":{\"blog\":262,\"fbwall\":32,\"msm\":2000,\"policy\":56,\"qna\":3,\"tweet\":136323,\"patent\":1,\"video\":15,\"wikipedia\":46},\"altmetric-score\":52841,\"output-type\":\"article\",\"historical-mentions\":{\"1d\":0,\"3d\":0,\"1w\":0,\"1m\":9,\"3m\":43,\"6m\":132,\"1y\":1009,\"at\":138738},\"publication-date\":\"2020-03-16\",\"badge-url\":\"https://api.altmetric.com/v1/donut/77704842_240.png\",\"oa-status\":false,\"oa-type\":null}},{\"id\":116132730,\"type\":\"research-output\",\"attributes\":{\"title\":\"Covid-19:
        Researcher blows the whistle on data integrity issues in Pfizer\u2019s vaccine
        trial\",\"identifiers\":{\"dois\":[\"10.1136/bmj.n2635\"],\"pubmed-ids\":[\"34728500\"]},\"readers\":{\"mendeley\":182},\"dimensions\":{\"citations\":52},\"mentions\":{\"blog\":20,\"f1000\":1,\"fbwall\":26,\"msm\":216,\"rdt\":124,\"tweet\":150288,\"video\":22,\"wikipedia\":9},\"altmetric-score\":43401,\"output-type\":\"article\",\"historical-mentions\":{\"1d\":0,\"3d\":0,\"1w\":4,\"1m\":35,\"3m\":211,\"6m\":701,\"1y\":1385,\"at\":150706},\"publication-date\":\"2021-11-02\",\"badge-url\":\"https://api.altmetric.com/v1/donut/116132730_240.png\",\"oa-status\":true,\"oa-type\":\"bronze\"},\"relationships\":{\"journal\":{\"id\":\"4f6fa4e93cf058f61000245c\",\"type\":\"journal\"},\"fields-of-research\":[{\"id\":\"32\",\"type\":\"field-of-research\"},{\"id\":\"42\",\"type\":\"field-of-research\"},{\"id\":\"52\",\"type\":\"field-of-research\"}]}},{\"id\":2280891,\"type\":\"research-output\",\"attributes\":{\"title\":\"Chloroquine
        is a potent inhibitor of SARS coronavirus infection and spread\",\"identifiers\":{\"dois\":[\"10.1186/1743-422x-2-69\"],\"pubmed-ids\":[\"16115318\"],\"pmc-ids\":[\"PMC1232869\"]},\"readers\":{\"mendeley\":1713},\"dimensions\":{\"citations\":1492},\"mentions\":{\"blog\":51,\"fbwall\":34,\"msm\":210,\"policy\":2,\"rdt\":21,\"tweet\":88488,\"patent\":9,\"video\":7,\"wikipedia\":12},\"altmetric-score\":36807,\"output-type\":\"article\",\"historical-mentions\":{\"1d\":1,\"3d\":5,\"1w\":10,\"1m\":73,\"3m\":462,\"6m\":1162,\"1y\":3305,\"at\":88834},\"publication-date\":\"2005-08-22\",\"badge-url\":\"https://api.altmetric.com/v1/donut/2280891_240.png\",\"oa-status\":true,\"oa-type\":\"gold\"},\"relationships\":{\"journal\":{\"id\":\"4f6fa4d03cf058f6100008a9\",\"type\":\"journal\"},\"affiliations\":[{\"id\":\"grid.416738.f\",\"type\":\"grid-affiliation\"},{\"id\":\"grid.511547.3\",\"type\":\"grid-affiliation\"}],\"fields-of-research\":[{\"id\":\"31\",\"type\":\"field-of-research\"},{\"id\":\"3107\",\"type\":\"field-of-research\"}],\"funders\":[{\"id\":\"grid.248883.d\",\"type\":\"grid-funder\"}]}},{\"id\":77676422,\"type\":\"research-output\",\"attributes\":{\"title\":\"The
        proximal origin of SARS-CoV-2\",\"identifiers\":{\"dois\":[\"10.1038/s41591-020-0820-9\"],\"handles\":[\"2123/22189\"],\"pubmed-ids\":[\"32284615\"],\"pmc-ids\":[\"PMC7095063\"]},\"readers\":{\"mendeley\":8740},\"dimensions\":{\"citations\":4079},\"mentions\":{\"blog\":244,\"f1000\":3,\"fbwall\":145,\"msm\":2546,\"policy\":13,\"qna\":6,\"rdt\":30,\"tweet\"[...]
