interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.altmetric.com/explorer/api/research_outputs/attention?page%5Bsize%5D=1&key=b5f9faabd368491692d4209087ffacae&digest=53534093d456666d5e3fcc8264a21b27acacf494
  response:
    body:
      string: '{"meta":{"query":{"key":"b5f9faabd368491692d4209087ffacae","digest":"53534093d456666d5e3fcc8264a21b27acacf494"},"response":{"status":"ok","description":"All
        research outputs sorted by Altmetric Attention Score","total-results":48467237,"total-pages":1}},"links":{"self":"https://www.altmetric.com/explorer/api/research_outputs/attention?digest=53534093d456666d5e3fcc8264a21b27acacf494\u0026key=b5f9faabd368491692d4209087ffacae\u0026page%5Bnumber%5D=1","first":"https://www.altmetric.com/explorer/api/research_outputs/attention?digest=53534093d456666d5e3fcc8264a21b27acacf494\u0026key=b5f9faabd368491692d4209087ffacae\u0026page%5Bnumber%5D=1","last":"https://www.altmetric.com/explorer/api/research_outputs/attention?digest=53534093d456666d5e3fcc8264a21b27acacf494\u0026key=b5f9faabd368491692d4209087ffacae\u0026page%5Bnumber%5D=1"},"data":[{"id":"msm","type":"source","meta":{"total":19698266,"dates":[{"date":"1917-01-01","count":1},{"date":"1996-05-07","count":1},{"date":"2000-12-13","count":1},{"date":"2000-12-15","count":1},{"date":"2001-01-01","count":139},{"date":"2001-01-07","count":1},{"date":"2001-01-18","count":1},{"date":"2001-01-23","count":1},{"date":"2001-02-04","count":1},{"date":"2001-02-18","count":1},{"date":"2001-03-10","count":1},{"date":"2001-03-15","count":1},{"date":"2001-03-26","count":1},{"date":"2001-03-27","count":1},{"date":"2001-04-16","count":1},{"date":"2001-04-20","count":1},{"date":"2001-0[...]
