interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.altmetric.com/explorer/api/research_outputs/demographics?page%5Bsize%5D=1&key=b5f9faabd368491692d4209087ffacae&digest=53534093d456666d5e3fcc8264a21b27acacf494
  response:
    body:
      string: "{\"meta\":{\"query\":{\"key\":\"b5f9faabd368491692d4209087ffacae\",\"digest\":\"53534093d456666d5e3fcc8264a21b27acacf494\"},\"response\":{\"status\":\"ok\",\"description\":\"All
        research outputs sorted by Altmetric Attention Score\",\"total-results\":48467237,\"total-pages\":1}},\"links\":{\"self\":\"https://www.altmetric.com/explorer/api/research_outputs/demographics?digest=53534093d456666d5e3fcc8264a21b27acacf494\\u0026key=b5f9faabd368491692d4209087ffacae\\u0026page%5Bnumber%5D=1\",\"first\":\"https://www.altmetric.com/explorer/api/research_outputs/demographics?digest=53534093d456666d5e3fcc8264a21b27acacf494\\u0026key=b5f9faabd368491692d4209087ffacae\\u0026page%5Bnumber%5D=1\",\"last\":\"https://www.altmetric.com/explorer/api/research_outputs/demographics?digest=53534093d456666d5e3fcc8264a21b27acacf494\\u0026key=b5f9faabd368491692d4209087ffacae\\u0026page%5Bnumber%5D=1\"},\"data\":[{\"id\":\"AF\",\"type\":\"country\",\"attributes\":{\"name\":\"Afghanistan\"},\"meta\":{\"mention-count\":4716,\"unique-sources\":1252}},{\"id\":\"AX\",\"type\":\"country\",\"attributes\":{\"name\":\"\xC5land
        Islands\"},\"meta\":{\"mention-count\":412,\"unique-sources\":42}},{\"id\":\"AL\",\"type\":\"country\",\"attributes\":{\"name\":\"Albania\"},\"meta\":{\"mention-count\":2573,\"unique-sources\":581}},{\"id\":\"DZ\",\"type\":\"country\",\"attributes\":{\"name\":\"Algeria\"},\"meta\":{\"mention-count\":17127,\"unique-sources\":2714}},{\"id\":\"AS\",\"type\":\"country\",\"attributes\":{\"name\":\"American
        [...]
